{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<main>
		<h1>{{ id }}</h1>
        <a href="{{ path('program_index')}}">Home</a>
        
	</main>
{% endblock %}