@import "~bootstrap/scss/bootstrap";
body {
  background-color: rgba(252, 252, 252, 0.863);
}
header{
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(250, 236, 236, 0.863);
}
main{
  margin-top: 6rem;
}
.navbar-brand img {
  height: 50px;
  width: 75px;
  margin-left: 2rem;
}
