{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<main>
		<h1>Bienvenue !</h1>
		<a href="{{ path('program_index') }}">
			La liste des programmes
		</a>
		<br>
		<a href="{{ path('category_index') }}">
			La liste des category
		</a>
	</main>
{% endblock %}
